html {
    scroll-behavior: smooth;
}

.root_app {
    display: flex;
    justify-content: center;
}

header {
    height: 30px;
    border-bottom: 2px rgb(209, 209, 209) dotted;
    display: flex;
    justify-content: center;
    a {
        margin: 4px 10px;
    }
}